$fontStack: "Arial Black", "Arial Bold", Gadget, sans-serif;
$styleNormal: normal;

h1 {
  font-family: $fontStack;
  font-size: 24px;
  font-style: $styleNormal;
  font-variant: $styleNormal;
  font-weight: 500;
  line-height: 26.4px;
}

h3 {
  font-family: $fontStack;
  font-size: 14px;
  font-style: $styleNormal;
  font-variant: $styleNormal;
  font-weight: 500;
  line-height: 15.4px;
}

p {
  font-family: $fontStack;
  font-size: 14px;
  font-style: $styleNormal;
  font-variant: $styleNormal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: $fontStack;
  font-size: 21px;
  font-style: $styleNormal;
  font-variant: $styleNormal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: $fontStack;
  font-size: 13px;
  font-style: $styleNormal;
  font-variant: $styleNormal;
  font-weight: 400;
  line-height: 18.5714px;
}