@import "fonts";
@import "colors";

* {
  padding: 0;
  margin: 0;
}

body {
  background: $backgroundPurple;
  color: $standardWhite;
}

.centerThis {
  text-align: center;
}

.topSpace {
  margin-top: 10px;
}
